body {
  color: #333;
  background-color: #13577e;
  font-family: 'Domine', serif;
}

.wrapper {
  width: 700px;
  margin: 300px auto;
  padding: 30px 25px;
  border-radius: 10px;
  background-color: #fff;
}

.ttl-container {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 18px;
}

.ttl {
  font-size: 25px;
  font-weight: bold;
}

.user {
  
  margin-left: 280px;
}

input {
  border-radius: 8px;
}

.ttl-box {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.add-ttl {
  width: 75%;
  border: 1px solid #999;
}

.error {
  color: red;
}

.add-btn {
  border: 2px solid palevioletred;
  color: palevioletred;
}

.add-btn:hover,
.search-btn2:hover {
  color: #fff;
  background-color: palevioletred;
}

table {
  width: 100%;
}

th {
  font-size: 20px;
  padding: 5px 20px;
}

td {
  padding: 10px 10px;
  text-align: center;
}

.ttl-list {
  width: 100%;
  height: 30px;
  border: 1px solid #999;
}

.add-btn,
.update-btn,
.del-btn,
.search-btn,
.search-btn2,
.out-btn,
.return-btn {
  padding: 8px 20px;
  font-weight: bold;
  background-color: #fff;
}

.update-btn {
  color: #ff9933;
  border: 2px solid #ff9933;
}

.update-btn:hover {
  color: #fff;
  background-color: #ff9933;
}

.del-btn {
  color: #00a497;
  border: 2px solid #00a497;
}

.del-btn:hover {
  color: #fff;
  background-color: #00a497;
}

.search-btn {
  margin-bottom: 10px;
  color: #b9c42f;
  border: 2px solid #b9c42f;
}

.search-btn2{
  border: 2px solid palevioletred;
  color: palevioletred;
}

.search-btn:hover {
  color: #fff;
  background-color: #b9c42f;
}

.out-btn {
  color: #c53d43;
  border: 2px solid #c53d43;
}

.out-btn:hover {
  color: #fff;
  background-color: #c53d43;
}

.return-btn {
  color: #8D8790;
  border: 2px solid #8D8790;
  margin-top: 20px;
}

.return-btn:hover {
  color: #fff;
  background-color: #8D8790;
}

/* select::-ms-expand {
  display: none;
} */

.tag-box {
  position: relative;
}

.tag {
  appearance: none;
  padding: 10px 20px;
  border: solid 2px #e8e8e8;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px #c0c0c0 inset;
  background: linear-gradient(#e8e8e8,#fff);
}

.tag::before {
  border-bottom: 4.5px solid #333;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "";
  position: absolute;
  right: 9px;
  top: 10px;
  width: 0;
}

.tag::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4.5px solid #333;
  content: "";
  position: absolute;
  right: 9px;
  top: 21px;
  width: 0;
}